/* Grid - Elementos internos */
.demo-card-image.mdl-card {
	width: 256px;
	height: 256px;
	/*background: url('../images/attack-on-titan.jpg') center/cover;*/
	cursor: pointer;
}

.demo-card-image>.mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
	color: #fff;
}

.mdl-card.mdl-shadow--2dp.demo-card-image {
	width: 100%;
}

/* Grid - Casilla */
.mdl-cell.mdl-cell--3-col:hover .mdl-card__actions {
	background-color: rgba(255, 255, 255, 0.5);
}

.demo-card-image>.mdl-card__actions {
	height: 90px;
}

.demo-card-image__small {
	font-size: 2em;
}

.demo-card-image__filename {
	font-size: 1.5em;
}

.cell-selected {
	background-color: rgba(255, 255, 255, 0.5);
	line-height: normal;
	overflow: hidden;
	padding: 16px 16px 9px 16px;
	color: black;
}

.mdl-card__actions * {
	color: white;
}

.cell-selected * {
	color: black;
}

.meta-info-black {
	color: black;
}

.mdl-cell.mdl-cell--3-col .mdl-card__actions {
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: color 1s ease-in;
	-moz-transition: color 1s ease-in;
	-o-transition: color 1s ease-in;
	transition: color 1s ease-in;
}

.mdl-cell.mdl-cell--3-col:hover * {
	color: #000000;
}

/* Scroll */
::-webkit-scrollbar {
	display: none;
}

.scroll {
	width: 50px;
	height: 50px;
	position: absolute;
	left: calc(50% - 25px);
	z-index: 1;
}

.scroll .mdl-button {
	background-color: rgba(255, 255, 255, 0.5);
}

.scroll .mdl-button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

#up {
	top: 120px;
}

#up.categories {
	top: 220px !important;
}

#down {
	bottom: 20px;
}

.mdl-button--fab .material-icons {
	left: 40%;
}

.minilogo i.material-icons {
	float: right;
	font-size: 4em;
}

.no-results {
	background-color: grey;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	width: 100%;
}

button.controller-action {
	color: #fff;
	text-shadow: -1px 1px #417cb8;
	border: none;
	font-size: 2em;
	line-height: 1em;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

button#left-cat {
	background-color: rgb(244, 67, 54);
}

button#right-cat {
	background-color: rgb(63, 81, 181);
}