.mdl-layout__drawer-button {
	background-color: rgb(96, 125, 139);
	margin: 0 auto;
	height: 100%;
	width: 5%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mdl-layout__header .mdl-layout__drawer-button .material-icons {
	position: relative;
	top: 500px;
}

.mdl-layout__header .mdl-layout__drawer-button:hover {
	background-color: rgb(126, 155, 169);
}

body {
	background-color: rgb(158, 158, 158);
}

/*
	Estilo del menú. Sobreescribimos los valores por defecto de Material Design.
*/
.mdl-layout__drawer {
	background-color: rgb(0, 150, 136);
	border-right: 1px solid rgb(0, 121, 107);
	color: white;
	width: 380px;
	-webkit-transform: translateX(-380px);
	-ms-transform: translateX(-380px);
	transform: translateX(-380px);
	-webkit-transform: translateX(-380px);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	color: white;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .material-icons
	{
	padding-right: 32px;
}

.mdl-textfield__label .material-icons {
	font-size: 1em;
}

.mdl-layout-title {
	font-size: 6em;
}

.mdl-navigation__link {
	font-size: 2.4em;
}

.mdl-layout__drawer>.mdl-layout-title {
	padding-top: 30px;
}

.page-content,.mdl-layout__header-row {
	padding-left: 5%;
	height: 100px;
}

.mdl-layout__header-row {
	background-color: white;
	height: 100px;
}

input#search-input,label.mdl-textfield__label {
	font-size: 3em;
}

.mdl-layout__header {
	min-height: 0px;
}

.menu-selected {
	background-color: rgb(224, 224, 224);
	color: black;
	display: block;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 16px 40px;
	margin: 0;
	color: #757575;
	font-size: 2.4em;
	text-decoration: none;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu-selected i {
	padding-right: 32px;
}

/* Barra de búsqueda */
.mdl-textfield.mdl-js-textfield.textfield-search.is-upgraded {
	margin-left: 20px;
	width: 100%;
	color: black;
}

#search-input {
	border: none;
}